@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background-color: deepskyblue;

  .container {
    margin: 15vh auto;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    background-color: black;
    border-radius: 5px;
    color: #bbb;

    p {
      font-size: .9em;
    }

    h3 {
      font-size: 1em;
      margin: 10px 0 5px;
    }

    a {
      color: crimson;
      text-decoration: none;

      &:visited {
        color: crimson;
        text-decoration: none;
      }
    }
  }
}
